<br/>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 text-justify">
            <h2>Create game</h2>
            <p>To create a game you need to go to create <a href="/game/add">page</a> and click the button <em style="text-decoration: underline">create</em>.
            <em>In future versions of the application will be added options to give a name of the game, to be a private (that have a password) and shareable link to
            invite friend.</em></p>
        </div>
        <div class="col-md-4">
            <h2>Join game</h2>
            <p>Currently there are a option to join in the first available game on random choice, but this will be fixed in next updates of the application.
                The target is to have a join button on each game that waits for opponent. However you use only joining options for now at
                <a href="/game/join">join page</a></p>
        </div>
        <div class="col-md-4">
            <h2>In game</h2>
            <p>When you are in the game, first check the status. It will tell you what action to do. If there are no another opponent in the game you should wait.
                If it's your turn - click on the empty tile you want to place mark and then click <em>play</em> button else should wait until opponent plays.
                Pop up messages are showing from top-right of the screen if you make mistake.
            </p>
        </div>
    </div>
    <p class="text-center text-warning"><span class="glyphicon glyphicon-asterisk"></span> - All operations needs a registered account.</p>
</div>