<div ng-show="vm.isLoaded" class="row">
    <div ng-show="vm.allGames && vm.allGames.length > 0">
        <div class="col-md-2 well" ng-repeat="game in vm.allGames">

            <p class="lead"><strong>{{ game.FirstPlayerName }} : {{ game.SecondPlayerName }}</strong></p>

            <p class="text-center"><strong>First player</strong>: <span
                    class="text-danger"> {{ game.FirstPlayerName }} </span></p>

            <p class="text-center"><strong>Second player</strong>: <span class="text-success"> {{ game.SecondPlayerName }} </span>
            </p>

            <p class="text-center"><strong>Game state</strong>: <span class="text-warning"> {{ game.State | gameStateFilter }} </span>
            </p>

            <div class="text-center">
                <svg svg-board board="game.Board" width="170" height="200"></svg>
            </div>


            <div class="row text-center">
                <a href="/game/{{game.Id}}"
                   ng-show="hm.globallySetCurrentUser.Email == game.FirstPlayerName || hm.globallySetCurrentUser.Email == game.SecondPlayerName"
                   class="btn btn-primary">Details</a>
                <!--  TODO server joins in first free game - below is not applicable-->
                <!--<a href="#" ng-click="vm.join()" ng-show="game.State < 3 && game.FirstPlayerName != hm.globallySetCurrentUser.Email" class="btn btn-primary">Join</a>-->
            </div>
        </div>
    </div>
    <div ng-hide="vm.allGames && vm.allGames.length > 0">

        <div class="text-center">
            <p class="leaad text-warning ">There are no games</p>
            <a href="/games/all" class="btn btn-primary">Check all games</a>
        </div>
    </div>
</div>

<div ng-hide="vm.isLoaded" class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="progress active progress-striped" style="width: 400px;">
            <div class="progress-bar progress-bar-info" style="width: 20%">
                <div>Connecting</div>
            </div>
            <div class="progress-bar" style="width: 20%">
                <div>to</div>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 20%">
                <div>the</div>
            </div>

            <div class="progress-bar progress-bar-warning" style="width: 20%">
                <div>dark</div>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: 20%">
                <div>side.</div>
            </div>
        </div>
            It's slow I know, but cannot do anything right now.
        <br/>
        If an error occur. Try refresh the page.
    </div>
</div>